doctype html
html
	head
	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="script.js")
	body
		a(href='/search') Search someone you know!
		br
		a(href='/userCreate') Create your own account!
		each user in users
			ul
				li=user.firstname
				li=user.lastname
				li=user.email
	
	