doctype html
html
	head
		body			
			h1 Who are you looking for?:
				form(action="/index", method="POST")
					div.input
					input(type="text", name="name")
					div.actions
					input(type="submit", value="Search")