doctype html
html
	head
	body			
		h1 Who are you looking for?:
			form(action="/userMatch", method="POST")
				div.input
				span.label 
				input(type="text", name="name")
				div.actions
				input(type="submit", value="Search")