doctype html
html
	head
	body
		h1 Sign up now! 
		form(action="/" method="Post")
			div.input
			span.label 
			p Firstname
			input(type="text", name="name")
			p Lastname
			input(type="text", name="name")
			p Email
			input(type="text", name="name")
			div.actions
			input(type="submit", value="Search")
